@model IEnumerable<WebsiteBanHang.Models.BlogPost>
<div class="container mt-4">
    <h4 class="mb-4">Tin tức công nghệ</h4>
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/images/@post.Image" class="card-img-top" alt="@post.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p>@post.Content.Substring(0, Math.Min(100, post.Content.Length))...</p>
                        <a href="/Blog/Details/@post.Id" class="btn btn-primary">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
