@{
    ViewData["Title"] = "Phụ kiện";
}

<div class="container mt-4">
    <h4 class="mb-4">Phụ kiện</h4>
    <div class="row">
        <!-- AirPods -->
        <div class="col-md-3 mb-4">
            <div class="card product-card">
                <div class="card-img-wrapper">
                    <img src="~/images/airpodspro.jpg" class="card-img-top" alt="Tai nghe AirPods">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Tai nghe AirPods</h5>
                    <p class="price">
                        <span class="gia-moi">3.990.000đ</span>
                    </p>
                    <a href="/Product/Details/5" class="btn btn-custom">
                        <i class="fas fa-info-circle"></i> Chi tiết sản phẩm
                    </a>
                </div>
            </div>
        </div>

        <!-- Chuột không dây -->
        <div class="col-md-3 mb-4">
            <div class="card product-card">
                <div class="card-img-wrapper">
                    <img src="~/images/chuot.jpeg" class="card-img-top" alt="Chuột không dây">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Chuột không dây</h5>
                    <p class="price">
                        <span class="gia-moi">590.000đ</span>
                    </p>
                    <a href="/Product/Details/6" class="btn btn-custom">
                        <i class="fas fa-info-circle"></i> Chi tiết sản phẩm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
