<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Phone">
            <i class="fas fa-mobile-alt"></i><br />Điện thoại
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Laptop">
            <i class="fas fa-laptop"></i><br />Laptop
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Accessory">
            <i class="fas fa-headphones"></i><br />Phụ kiện
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Repair">
            <i class="fas fa-tools"></i><br />Sửa chữa
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Cart" asp-action="Index">
            <i class="fas fa-shopping-cart"></i><br />Giỏ hàng
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Blog" asp-action="Index">
            <i class="fas fa-newspaper"></i><br />Tin tức
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contact" asp-action="Index">
            <i class="fas fa-envelope"></i><br />Liên hệ
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <i class="fas fa-user"></i><br />Tài khoản
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Đăng ký</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Đăng xuất</a></li>
        </ul>
    </li>
</ul>
