@{
    ViewData["Title"] = "Điện thoại";
}

<div class="container mt-4">
    <h4 class="mb-4">Điện thoại</h4>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card product-card">
                <div class="card-img-wrapper">
                    <img src="~/images/ip15.jfif" class="card-img-top" alt="Iphone 15">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">iPhone 15</h5>
                    <p class="price">
                        <span class="gia-cu">25.000.000đ</span>
                        <span class="gia-moi">21.990.000đ</span>
                    </p>
                    <a href="/Product/Details/1" class="btn btn-custom">
                        <i class="fas fa-info-circle"></i> Chi tiết sản phẩm
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card product-card">
                <div class="card-img-wrapper">
                    <img src="~/images/sss25.jfif" class="card-img-top" alt="Samsung Galaxy S25">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Samsung Galaxy S25</h5>
                    <p class="price">
                        <span class="gia-cu">20.000.000đ</span>
                        <span class="gia-moi">17.990.000đ</span>
                    </p>
                    <a href="/Product/Details/2" class="btn btn-custom">
                        <i class="fas fa-info-circle"></i> Chi tiết sản phẩm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
