@{
    ViewData["Title"] = "Sửa chữa";
}

<div class="container mt-4">
    <h4 class="mb-4">Dịch vụ sửa chữa</h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="~/images/suachuadienthoai.jpg" class="card-img-top" alt="Sửa điện thoại" />
                <div class="card-body text-center">
                    <h5 class="card-title">Sửa chữa điện thoại</h5>
                    <p class="card-text">Thay màn hình, pin, linh kiện...</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="~/images/suachualaptop.jpg" class="card-img-top" alt="Sửa laptop" />
                <div class="card-body text-center">
                    <h5 class="card-title">Sửa chữa laptop</h5>
                    <p class="card-text">Cài win, thay bàn phím, nâng cấp RAM...</p>
                </div>
            </div>
        </div>
    </div>
</div>
